body {
  margin: 5px;
  font-family: Times New Roman;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1rem solid #DADD98;
  margin: 0;
  padding: 20px;
}
ul {
  border-right: 4px solid gray;
  width: 150px;
  margin: 0;
  padding: 20px;
}
